<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulusworld.drawernavigationtabs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.ptit.bookecommerce.activity.view.SearchResultsActivity" />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabbedActivity"
            android:label="@string/title_activity_tabbed" >
        </activity>
        <activity
            android:name="com.ptit.bookecommerce.activity.view.BooksByGenreActivity"
            android:label="@string/title_activity_books_by_genre"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.ptit.bookecommerce.activity.view.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.ptit.bookecommerce.activity.view.BookDetailsActivity"
            android:label="@string/title_activity_book_details"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.ptit.bookecommerce.activity.view.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.ptit.bookecommerce.activity.view.OrderHistoryActivity"
            android:label="@string/title_activity_order_history" >
        </activity>
        
        <!-- Search results activity -->
        <activity android:name="com.ptit.bookecommerce.activity.view.SearchResultsActivity"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>
